<div class="index-container">
<div class="search-cards">

  <div class="card-grid-index">

<form id="spaces-search-bar" method="get">
  <input placeholder="Find a city to party" id="space_address" name="place">
  <button class="btn btn-primary" type="submit">Search</button>
</form>

    <div class="row">
      <% sorted!(@spaces).each do |space| %>
          <div class="col-lg-6 col-md-12 col-sm-12">
            <div class="card-trip">
              <% if space.cover_image.file.nil? %>
                <img src=<%= asset_path("placeholder.jpg") %>>
              <% else %>
                <%= cl_image_tag space.cover_image %>
              <% end %>
            <% unless average_rating(aggregate_reviews(space)).zero? %>

            <h2> <%= average_rating(aggregate_reviews(space))%> <%= '⭑' * average_rating(aggregate_reviews(space))  %></h2>
            <% end %>
              <div class="card-text">
                <div class="card-info">
                  <h2>
                    <%= link_to(space.name, space_path(space)) %>
                  </h2>
                   <p><%= space.category %></p>
                </div>
                <h3>📍<%= space.address %></h3>
              </div>
            </div>
          </div>
      <% end %>
    </div>
  </div>



</div>

<div class="map-index">

    <div
      id="map"
      style="mapbox://styles/mapbox/dark-v10"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
    ></div>
 </div>

</div>


