<% if @space.cover_image.file.nil? %>
  <div class="header-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path("placeholder.jpg") %>)">
  </div>
<% else %>
  <div class="header-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @space.cover_image%>')">
  </div>
<% end %>

<div class="show-header">
  <h1><%= @space.name %></h1>
  <p>ðŸ“Œ<%= @space.address %></p>
</div>

<div class="pages-container">

  <div class="action-bar">
  <%= link_to("Go back", spaces_path, class: 'btn btn-outline-secondary')  %>
  </div>

  <div class="show-details">

  <div class="column-left">

      <div class="show-box">
        <h2>About this venue</h2>
        <p class="description"> <%= @space.description %> </p>
      </div>

      <% unless empty_reviews(@space) %>
        <div class="show-box">
          <h2>Reviews</h2>
          <% @space.bookings.each do |booking| %>
            <% booking.reviews.each do |review| %>
              <p><%='â­ï¸' *review.rating %> - <%= review.title %> - <%= review.content %></p>
            <% end %>
          <% end %>
        </div>
      <% end %>

      <div class="show-box">
        <h2>Location</h2>
        <%= render 'spaces/map' %>
      </div>

      <% unless @reviewed_booking.nil? %>
        <div class="show-box">
          <h2>Review your experience</h2>
          <%= render 'reviews/review-form' %>
          <% @space.bookings.where(user: current_user).each do |booking| %>
            <% booking.reviews.each do |review| %>
              <p>
                <%='â­ï¸' *review.rating %> - <%= review.title %> - <%= review.content %>
                <%= link_to("Edit", edit_space_booking_review_path(@space, booking, review)) %>
                <%= link_to space_booking_review_path(@space, booking, review), method: :delete, data: {confirm: "Are you sure?"} do %>
                  <i class="far fa-trash-alt"></i>
                <% end %>
              </p>
              <% end %>
            <% end %>
          <% end %>
        </div>
  </div>

  <div class="column-right">
    <div class="sticky-booking">
      <div class="show-box">
        <h2>Book now for <%= @space.price %>,00 â‚¬</h2>
        <%= render 'bookings/booking-form' %>
        <% @space.bookings.where(user: current_user).each do |booking| %>
          <p>
            You have booked <%= booking.space.name %> on <%= booking.date %></br>
            <%= link_to("Edit", edit_space_booking_path(@space, booking)) %>
            <%= link_to space_booking_path(@space, booking), method: :delete, data: {confirm: "Are you sure?"} do %>
              <i class="far fa-trash-alt"></i>
            <% end %>
          </p>
        <% end %>
      </div>
      </div>
  </div>
</div>

</div>
