
<% if @space.cover_image.file.nil? %>
  <% cover_img = "#{asset_path('placeholder.jpg')}" %>
<% else %>
  <% cover_img = "#{cl_image_path @space.cover_image}" %>
<% end %>

<div class="header-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url( <%= cover_img %> )">
  <div class="show-header">
    <h1><%= @space.name %></h1>
    <p>ðŸ“Œ<%= @space.address %></p>
  </div>
  <div class="price-tag">
    <h3><%= @space.price %>,00 â‚¬</h3>
  </div>
</div>


<div class="pages-container">

  <div class="action-bar">
  <%= link_to("Go back", spaces_path, class: 'btn btn-outline-secondary')  %>
  </div>

  <div class="show-details">

  <div class="column-left">

      <div class="show-box" id="about">
        <h2>About this venue</h2>
        <p><%= @space.video_url %></p>
        <p><%= url_converter(@space) %></p>
        <p class="description"> <%= @space.description %></p>
      </div>

      <% unless empty_reviews(@space) %>
        <div class="show-box">
          <h2>Reviews</h2>
          <% @space.bookings.each do |booking| %>
            <% booking.reviews.each do |review| %>
              <p>
                <%='â­ï¸' *review.rating %> - <%= review.title %> - <%= review.content %>
                <%= link_to("Edit", edit_space_booking_review_path(@space, booking, review)) %>
                <%= link_to space_booking_review_path(@space, booking, review), method: :delete, data: {confirm: "Are you sure?"} do %>
                  <i class="far fa-trash-alt"></i>
                <% end %>
              </p>
            <% end %>
          <% end %>
        </div>
      <% end %>

      <div class="show-box">
        <h2>Location</h2>
        <%= render 'spaces/map' %>
      </div>

      <% unless @reviewed_booking.nil? %>
        <div class="show-box">
          <h2>Review your experience</h2>
          <%= render 'reviews/review-form' %>
        </div>
      <% end %>
  </div>



  <div class="column-right">
    <% converted_url = url_converter(@space) %>
    <% unless @space.video_url.nil? %>
        <div class="show-box" id="place-video">
        <iframe width="100%" height="350px" src='<%= converted_url %>' frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    <% end %>

    <div class="sticky-booking" id="booking">
      <div class="show-box">
        <h2>Book now</h2>
        <h3><%= @space.price %>,00 â‚¬</h3>
        <%= render 'bookings/booking-form' %>
        <% @space.bookings.where(user: current_user).each do |booking| %>
          <p>
            You have booked <%= booking.space.name %> on <%= booking.date %></br>
            <%= link_to("Edit", edit_space_booking_path(@space, booking)) %>
            <%= link_to space_booking_path(@space, booking), method: :delete, data: {confirm: "Are you sure?"} do %>
              <i class="far fa-trash-alt"></i>
            <% end %>
          </p>
        <% end %>
      </div>
    </div>
  </div>
</div>

</div>
