<div class="header-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @space.cover_image%>')">
</div>

<div class="show-header">
  <h1><%= @space.name %></h1>
  <p><%= @space.address %></p>
</div>



<div class="pages-container">
  <div class="row">
      <div class="col-6">
        <div class="show-box-left">
          <h2>About this venue</h2>
          <p class="description"> <%= @space.description %> </p>
        </div>
      </div>

      <div class="col-6">
        <div class="show-box-left">
          <h2>Book now</h2>
          <%= render 'bookings/booking-form' %>
        </div>
      </div>
  </div>

</div>





</div>
<h1> <%= @space.address %> </h1>

<%= image_tag @space.cover_image.url unless @space.cover_image.file.nil? %>

<%= render 'bookings/booking-form' %>

<% @space.bookings.where(user: current_user).each do |booking| %>
  <p>
    You have booked <%= booking.space.name %> on <%= booking.date %>
    <%= link_to("Edit", edit_space_booking_path(@space, booking)) %>
    <%= link_to space_booking_path(@space, booking), method: :delete, data: {confirm: "Are you sure?"} do %>
      <i class="far fa-trash-alt"></i>
    <% end %>
  </p>
<% end %>

<%= render 'map' %>
<div
  id="map"
  style="width: 100%;
  height: 600px; border:1px solid;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
></div>

<%= render 'reviews/review-form' unless @reviewed_booking.nil? %>

<% @space.bookings.where(user: current_user).each do |booking| %>
  <% booking.reviews.each do |review| %>
    <p>
      <%='⭐️' *review.rating %> - <%= review.title %> - <%= review.content %>
      <%= link_to("Edit", edit_space_booking_review_path(@space, booking, review)) %>
      <%= link_to space_booking_review_path(@space, booking, review), method: :delete, data: {confirm: "Are you sure?"} do %>
        <i class="far fa-trash-alt"></i>
      <% end %>
    </p>
  <% end %>
<% end %>


<%= link_to("Go back", spaces_path)  %>
