<h1> <%= @space.name %> </h1>
<h1> <%= @space.address %> </h1>

<%= image_tag @space.cover_image.url unless @space.cover_image.file.nil? %>

<%= render 'spaces/booking-form' %>

<% @space.bookings.where(user: current_user).each do |booking| %>
  <p>
    You have booked <%= booking.space.name %> on <%= booking.date %>
    <%= link_to("Edit", edit_space_booking_path(@space, booking)) %>
    <%= link_to space_booking_path(@space, booking), method: :delete, data: {confirm: "Are you sure?"} do %>
      <i class="far fa-trash-alt"></i>
    <% end %>
  </p>
<% end %>

<%= render 'reviews/review-form' unless @reviewed_booking.nil? %>

<% @space.bookings.where(user: current_user).each do |booking| %>
  <% booking.reviews.each do |review| %>
    <p> <%='⭐️' *review.rating %> - <%= review.title %> - <%= review.content %> Edit Delete</p>
  <% end %>
<% end %>


<%= link_to("Go back", spaces_path)  %>
