
<% if @space.cover_image.file.nil? %>
  <% cover_img = "#{asset_path('placeholder.jpg')}" %>
<% else %>
  <% cover_img = "#{cl_image_path @space.cover_image}" %>
<% end %>

<div class="header-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url( <%= cover_img %> )">
  <div class="show-header">
    <h1><%= @space.name %></h1>
    <p>📌<%= @space.address %></p>
  </div>
  <div class="price-tag">
    <h3><%= @space.price %>,00 €</h3>
  </div>
</div>


<div class="pages-container">

  <div class="action-bar">
  <%= link_to("Go back", spaces_path, class: 'btn btn-outline-secondary')  %>
  </div>

  <div class="show-details">

  <div class="column-left">

      <div class="show-box" id="about">
        <h2>About this venue</h2>
        <p class="description"> <%= @space.description %></p>
      </div>

      <% unless aggregate_reviews(@space).empty? %>
        <div class="show-box">
          <h2>Reviews <%= average_rating(aggregate_reviews(@space)) %></h2>
          <% aggregate_reviews(@space).each do |review| %>
              <p>
                <%='⭐️' *review.rating %> - <%= review.title %> - <%= review.content %>
                <% if Booking.find(review.booking_id).user_id == @user.id %>
                  <%= link_to("Edit", edit_space_booking_review_path(@space, Booking.find(review.booking_id), review)) %>
                  <%= link_to space_booking_review_path(@space, Booking.find(review.booking_id), review), method: :delete, data: {confirm: "Are you sure?"} do %>
                    <i class="far fa-trash-alt"></i>
                  <% end %>
                <% end %>
              </p>
          <% end %>
        </div>
      <% end %>

      <div class="show-box">
        <h2>Location</h2>
        <%= render 'spaces/map' %>
      </div>

      <% unless @reviewed_booking.nil? %>
        <div class="show-box" id="review-form">
          <h2>Review your experience</h2>
          <%= render 'reviews/review-form' %>
        </div>
      <% end %>
  </div>

  <div class="column-right">
    <% converted_url = url_converter(@space) %>
    <% unless @space.video_url.nil? %>
        <div class="show-box" id="place-video">
        <iframe width="100%" height="350px" src='<%= converted_url %>' frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    <% end %>

    <% unless @reviewed_booking.nil? %>
      <div class="show-box" id="review-form">
        <h2>Ads from our friends</h2>
        <iframe src="https://giphy.com/embed/7uqIGMyoNr3y0" width="480" height="365" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
        <a style="width:200px; margin-left:150px; " href="https://dodgebnb.herokuapp.com" target="_blank" class="btn btn-primary"/>Book party pet 🎉🐰</a>
      </div>
    <% end %>

    <div class="sticky-booking" id="bookings">
      <div class="show-box">
        <h2>Book now</h2>
        <h3><%= @space.price %>,00 €</h3>
        <%= render 'bookings/booking-form' %>

        <% @space.bookings.future.where(user:current_user).order(date: :asc).each do |booking| %>
          <p style="font-size: 1em;">
            You have an upcoming booking on <%= booking.date %>.
            <%= link_to("Edit", edit_space_booking_path(@space, booking)) %>
            <%= link_to space_booking_path(@space, booking), method: :delete, data: {confirm: "Are you sure?"} do %>
              <i class="far fa-trash-alt"></i>
            <% end %>
          </p>
        <% end %>

        <% unless @space.bookings.past.where(user: current_user).empty? %>
          <h4>Past bookings</h4>
        <% end %>
        <% @space.bookings.past.where(user: current_user).order(date: :desc).each do |booking| %>
          <p>
            You booked this space on <%= booking.date %>,
            <%= link_to('review it', space_path(@space, anchor: 'review-form'))%>.</br>
          </p>
        <% end %>
      </div>
    </div>
  </div>
</div>

</div>
