

<div class="account-container">

  <div class="account-aside">

    <%= image_tag avatar(@user) %>

    <h1> Welcome, <%= @user.first_name %>!</h1>

    <p><strong>First name:</strong>  <i><%= @user.first_name %></i><br>
    <strong>Last name:</strong> <i><%= @user.last_name %></i><br>
    <strong>Phone number:</strong>  <i><%= @user.phone_number %></i><br>
    <strong>Email:</strong>  <i><%= @user.email %></i></p>

    <%= link_to edit_user_path(@user) do  %>
      <div class="btn btn-primary">Edit profile info</div>
    <% end %>
  </div>

  <div class="account-main">
    <h1>My spaces</h1>
    <div class="row">
      <% @spaces.each do |space| %>
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="card-user">
            <% if space.cover_image.file.nil? %>
              <img src=<%= asset_path("placeholder.jpg")%>>
            <% else %>
            <img src=<%=cl_image_path space.cover_image%> >
            <% end %>
              <div class="card-user-text">
                <div class="card-user-info">
                  <h2><%= space.name %></h2>
                   <h3><%= link_to('Edit space', edit_space_path(space)) %></h3>
                </div>
                <h2>📍<%= space.address %></h2>
              </div>
          </div>
        </div>

      <% end %>
    </div>


    <h1>My bookings</h1>
    <div class="row">
      <% @bookings.each do |booking| %>
        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="card-user booking">
              <% if booking.space.cover_image.file.nil? %>
                <img src=<%= asset_path("party.jpg")%>>
              <% else %>
               <img src=<%=cl_image_path booking.space.cover_image%> >
              <% end %>
            <div class="card-user-info booking">
              <h2><strong><%= booking.space.name %></strong>, <i>on <%= booking.date %></i></h2>
                <h3>
                  <%= link_to('Edit booking date', edit_space_booking_path(booking.space, booking)) %>
                  <%= link_to('Delete booking', space_booking_path(booking.space, booking), method: :delete, data: {confirm: "Are you sure?"}) %></h3>
                </h3>
            </div>
            </div>
        </div>
      <% end %>
    </div>

</div>

  </div>
