<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Space-X</title>
    <link rel="icon" type="image/png" href=".png">
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <%= favicon_link_tag asset_path('hotdog_black_favicon.ico') %>

  </head>
  <body>

    <%= render 'shared/navbar' %>

    <!-- Fix navbar overlap -->

    <% unless params[:controller] == "spaces" %>
      <div  class="pages-container">
    <% else %>
      <div>
    <% end %>

    <%= yield %>

    </div>

    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
